
<div class="bar bar-header">
    <a class="button button-light"  href="/home/js">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">Backdrop(背景)</div>
</div>
<ion-content>
    <div style="margin-top: 50px">
    <div class="content padding has-header">

        <button class="button button-block button-dark" ng-click="action()">点我(1s)</button>


        <button class="button button-block button-dark" ng-click="actionone()">点我(2s)</button>


        <button class="button button-block button-dark" ng-click="actiontwo()">点我(3s)</button>
    </div>
        </div>
</ion-content>