
<div class="bar bar-header bar-positive">
    <a class="button bar-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">Toggle(切换)</div>
</div>
<ion-content>

    <div style="margin-top: 50px">

        <ul class="list">
            <li class="item item-toggle">
                HTML5
                <label class="toggle toggle-positive">
                    <input type="checkbox" checked="">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                CSS3
                <label class="toggle toggle-calm">
                    <input type="checkbox" checked="">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Flashplayer
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Java Applets
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                JavaScript
                <label class="toggle toggle-assertive">
                    <input type="checkbox" checked="">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Silverlight
                <label class="toggle toggle-royal">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Web Components
                <label class="toggle toggle-dark">
                    <input type="checkbox" checked="">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>

</div>

</ion-content>
