

<div class="bar bar-header bar-positive">
    <a class="button bar-positive"  href="/home/css/">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">Theckbox(多选)</div>
</div>


<ion-content>

    <div style="margin-top: 50px">

            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked="">
                    </label>
                    Flux Capacitor
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked="">
                    </label>
                    1.21 Gigawatts
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked="">
                    </label>
                    Delorean
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked="">
                    </label>
                    88 MPH
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Plutonium Resupply
                </li>
            </ul>

</div>


</ion-content>
