
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/forms">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Floating Labels</div>
    </div>
    <ion-content>
    <div class="content has-header">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive">Create Account</button>
        </div>
    </div>
</ion-content>