
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/forms">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Inset Forms</div>
    </div>
    <ion-content>
    <div class="content has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive">Submit</button>
        </div>
    </div>
</ion-content>