
<ion-header-bar class="bar-positive">
    <a class="button button-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">forms(表单)</h1>

</ion-header-bar>

<ion-content>
    <div class="list">

        <a class="item item-button-right"   href="/home/css/forms/form">
            Forms & Inputs(普通表单)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

        <a class="item item-button-right"    href="/home/css/forms/formPlaceholder">
          Placeholder Labels(占位符)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"    href="/home/css/forms/formInline">
           Inline Labels(内联标签)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/forms/formStacked">
            Stacked Labels(叠堆标签)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/forms/formFloating">
           Floating Labels(浮动标签)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/forms/formInset">
            Inset Forms (插入表单)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/forms/formInput">
            Inset Inputs(插入)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/forms/formIcons">
            Input Icons(图标)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/forms/formHeader">
            Header Inputs(头部插入)
        <button class="button button-positive">
            <i class="icon ion-arrow-right-c"></i>
        </button>
    </a>
    </div>
</ion-content>
