
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/forms">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Input Icons</div>
    </div>
    <ion-content>
    <div class="content has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
    </div>
</ion-content>