
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/lists">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Item Thumbnails</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="/img/docs/blue-album.jpg">
                <h2>Weezer</h2>
                <p>Blue Album</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="/img/docs/siamese-dream.jpg">
                <h2>Smashing Pumpkins</h2>
                <p>Siamese Dream</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="/img/docs/nevermind.jpg">
                <h2>Nirvana</h2>
                <p>Nevermind</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="/img/docs/license-to-ill.jpg">
                <h2>Beastie Boys</h2>
                <p>License To Ill</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="/img/docs/dookie.jpg">
                <h2>Green Day</h2>
                <p>Dookie</p>
            </a>

        </div>

    </div>
        </ion-content>
