
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/lists">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">List Dividers</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list">

            <div class="item item-divider">
                Candy Bars
            </div>

            <a class="item" href="#">
                Butterfinger
            </a>

            <a class="item" href="#">
                Kit Kat
            </a>

            <a class="item" href="#">
                Snickers
            </a>

            <a class="item" href="#">
                Twix
            </a>

            <div class="item item-divider">
                Hard Candy
            </div>

            <a class="item" href="#">
                Jolly Rancher
            </a>

            <a class="item" href="#">
                LifeSavers
            </a>

            <a class="item" href="#">
                Skittles
            </a>

            <a class="item" href="#">
                Gobstoppers
            </a>

        </div>

    </div>
</ion-content>