
<div class="bar bar-header bar-positive">
    <a class="button bar-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">List(列表)</div>
</div>

<ion-content>
    <div class="list">
        <div style="margin-top: 50px">

        <a class="item item-button-right"   href="/home/css/lists/list">
            list(普通列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

        <a class="item item-button-right"    href="/home/css/lists/listDividers">
            List Dividers(分隔符列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"    href="/home/css/lists/listIcons">
            List Icons(字体符号列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/lists/listButtons">
            List Buttons(按钮列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/lists/listAvatars">
            Item Avatars(头像列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/lists/listThumbnails">
            Item Thumbnails(微缩图列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/lists/listInset">
            Inset Lists(块级列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

    </div>
        </div>
</ion-content>
