
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/lists">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Inset Lists</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list list-inset">

            <div class="item">
                Raiders of the Lost Ark
            </div>

            <div class="item">
                Temple of Doom
            </div>

            <div class="item">
                Last Crusade
            </div>

            <div class="item">
                Kingdom of the Crystal Skull
            </div>

        </div>

    </div>
</ion-content>