
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/lists">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Item Avatars</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list">

            <a class="item item-avatar" href="#">
                <img src="/img/docs/venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="/img/docs/spengler.jpg">
                <h2>Egon</h2>
                <p>We're gonna go full stream.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="/img/docs/stantz.jpg">
                <h2>Ray</h2>
                <p>Ugly little spud, isn't he?</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="/img/docs/winston.jpg">
                <h2>Winston</h2>
                <p>That's a big Twinkie.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="/img/docs/tully.jpg">
                <h2>Tully</h2>
                <p>Okay, who brought the dog?</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="/img/docs/barrett.jpg">
                <h2>Dana</h2>
                <p>I am The Gatekeeper!</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="/img/docs/slimer.jpg">
                <h2>Slimer</h2>
                <p>Boo!</p>
            </a>

        </div>

    </div>
        </ion-content>
