
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/lists">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">List Items</div>
    </div>
    <ion-content>
    <div class="content has-header">

        <ul class="list">

            <li class="item">
                Battletoads
            </li>
            <li class="item">
                Contra
            </li>
            <li class="item">
                Duck Tales
            </li>
            <li class="item">
                Mega Man
            </li>
            <li class="item">
                Metroid
            </li>
            <li class="item">
                Mike Tyson's Punch-Out
            </li>
            <li class="item">
                R.C. Pro-Am
            </li>
            <li class="item">
                Spy Hunter
            </li>
            <li class="item">
                Super Mario Bros.
            </li>
            <li class="item">
                The Legend of Zelda
            </li>

        </ul>

    </div>

</ion-content>