
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/lists">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">List Buttons</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list">

            <div class="item item-button-right">
                Call Ma
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>

        </div>

    </div>
        </ion-content>
