
<div class="bar bar-header bar-positive">
    <a class="button bar-positive"  href="/home/css/">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">Cards(卡片)</div>
</div>


<ion-content>
    <div style="margin-top: 50px">
    <div class="list">

        <a class="item item-button-right"   href="/home/css/cards/card">
            card(普通卡片)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

        <a class="item item-button-right"    href="/home/css/cards/cardHF">
            Card Headers and Footers(头部和尾部卡片)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"    href="/home/css/cards/cardList">
            Card Lists(卡片列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/cards/cardImages">
            Card Images(含图片的卡片)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/cards/cardShowcase">
            Card Showcase(卡片完整实例)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

    </div>
        </div>
</ion-content>
