
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/cards">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Card Lists</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>
                Enter home address
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                Enter phone number
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-wifi"></i>
                Enter wireless password
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                Enter card information
            </a>

        </div>

    </div>
        </ion-content>
