
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/cards">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Cards</div>
    </div>
    <ion-content>
    <div class="content has-header ionic-pseudo">

        <div class="list card">

            <div class="item item-avatar">
                <img src="http://tutupash.com/site/assets/nin_logo.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                Start listening
            </a>

        </div>

    </div>
</ion-content>