
<ion-header-bar class="bar-positive">
    <a class="button button-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">Cards(卡片)</h1>

</ion-header-bar>

<ion-content>
    <div class="list">

        <a class="item item-button-right"   href="/home/css/cards/card">
            cards(普通卡片)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

        <a class="item item-button-right"    href="/home/css/cards/cardHF">
            Card Headers and Footers(头部和尾部卡片)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"    href="/home/css/cards/cardList">
            Card Lists(卡片列表)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/cards/cardImages">
            Card Images(含图片的卡片)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/cards/cardShowcase">
            Card Showcase(卡片完整实例)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

    </div>
</ion-content>
