
<div class="bar bar-header bar-positive">
    <a class="button bar-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">Header</div>
</div>

<ion-content>
    <div style="margin-top: 50px">
    <div class="list">

        <a class="item item-button-right"   ng-repeat="header in headers" href="/home/css/header/{{header.name}}">
            {{header.name}}{{header.color}}
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

    </div>
        </div>
</ion-content>
