
<ion-header-bar class="bar-positive">
    <a class="button button-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">Content</h1>

</ion-header-bar>

<ion-content>
    <div class="content has-header padding">
        <h1>I'm an H1!</h1>
        <h2>I'm an H2!</h2>
        <h3>I'm an H3!</h3>
        <h4>I'm an H4!</h4>
        <h5>I'm an H5!</h5>
        <h6>I'm an H6!</h6>
        <p>I'm a paragraph with a <a href="#">link</a>!</p>
    </div>
</ion-content>
