
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/tabs">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Left Icon Tabs</div>
    </div>

    <div class="tabs tabs-icon-left">
        <a class="tab-item" href="#">
            <i class="icon ion-home"></i>
            Home
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-star"></i>
            Favorites
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </div>

