

<div class="bar bar-header bar-positive">
    <a class="button bar-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <div class="h1 title">Tabs(列表切换)</div>
</div>

<ion-content>
    <div style="margin-top: 50px">
    <div class="list">

        <a class="item item-button-right"   href="/home/css/tabs/tab">
            Tab(普通列表切换)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

        <a class="item item-button-right"    href="/home/css/tabs/tabIcon">
            Icon-only Tabs(图标列表切换)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"    href="/home/css/tabs/tabTopIcon">
            Top Icon Tabs(下图标文字列表切换)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/tabs/tabLeftIcon">
            Left Icon Tabs(左图标文字列表切换)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/tabs/tabStriped">
            Striped Style Tabs(综合列表切换)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

    </div>
        </div>
</ion-content>
