
    <div class="bar bar-header has-tabs-top bar-positive">
        <a class="button button-light"  href="/home/css/tabs">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Striped Style Tabs</div>
    </div>

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-home"></i>
                Test
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-star"></i>
                Favorites
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>
    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-home"></i>
                Test
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-star"></i>
                Favorites
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>

