
<ion-header-bar class="bar-positive">
    <a class="button button-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">Radio Button List(单选列表)</h1>

</ion-header-bar>

<ion-content>




        <div class="list">

            <label class="item item-radio">
                <input type="radio" name="group" value="go" checked="checked">
                <div class="item-content">
                    Go
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" value="python">
                <div class="item-content">
                    Python
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" value="ruby">
                <div class="item-content">
                    Ruby
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" value=".net">
                <div class="item-content">
                    .Net
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" value="java">
                <div class="item-content">
                    Java
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" value="php">
                <div class="item-content">
                    PHP
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

        </div>






</ion-content>
