
<div class="bar bar-header bar-positive">

    <div class="buttons">

    </div>
    <h1 class="h1 title">Meteor app</h1>
    <div class="buttons">

    </div>
</div>

<ion-content>

    <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
<div style="margin-top: 50px">


    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item item="item" href="/home/css" class="item-remove-animate">
          CSS组件
        </ion-item>
        <ion-item item="item" href="/home/js" class="item-remove-animate">
           JS组件
        </ion-item>
        <ion-item item="item" href="/home/cordova" class="item-remove-animate">
            cordova插件
        </ion-item>

    </ion-list>
</div>
</ion-content>


