
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/buttons">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="h1 title">Icon Buttons</div>
    </div>
    <ion-content>
    <div class="content padding has-header">
        <p>
            <button class="button icon-left ion-home">Home</button>
        </p>
        <p>
            <button class="button icon-left ion-star button-positive">Favorites</button>
        </p>
        <p>
            <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
        </p>
        <p>
            <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
        </p>
        <p>
            <button class="button icon ion-gear-a"></button>
        </p>
        <p>
            <a class="button button-icon icon ion-settings"></a>
        </p>
        <p>
            <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
        </p>
    </div>
</ion-content>