
    <div class="bar bar-header">
        <a class="button button-light"  href="/home/css/buttons">
            <i class="icon ion-chevron-left"></i>
        </a>
        <div class="bar bar-header">
            <div class="button-bar">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>
        </div>
    </div>
    <ion-content>
    <div class="content has-header padding">
        <p>
        </p><div class="button-bar bar-light">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-stable">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-positive">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-calm">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-energized">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-balanced">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-assertive">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-royal">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
        <p>
        </p><div class="button-bar bar-dark">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
        <p></p>
    </div>
</ion-content>