
<ion-header-bar class="bar-positive">
    <a class="button button-positive"  href="/home/css">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">buttons(按钮)</h1>

</ion-header-bar>

<ion-content>
    <div class="list">

        <a class="item item-button-right"   href="/home/css/buttons/button">
            button(普通按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

        <a class="item item-button-right"    href="/home/css/buttons/buttonBlock">
            Block Buttons(块级按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"    href="/home/css/buttons/buttonFull">
            Full Width Block Buttons(全宽块级按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonSizes">
            Different Sizes(不同尺寸按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonOutlined">
            Outlined Buttons(概述按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonClear">
            Clear Buttons(清楚按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonIcon">
            Icon Buttons(字体符号按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonHead">
            Buttons in Headers(头部按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonCleHead">
            Clear Buttons in Headers(清楚头部按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>
        <a class="item item-button-right"   href="/home/css/buttons/buttonBar">
            Button Bar(条形按钮)
            <button class="button button-positive">
                <i class="icon ion-arrow-right-c"></i>
            </button>
        </a>

    </div>
</ion-content>
